:root{
    --primaryColor: #FF206E;
    --mainFont:"Open Sans", sans-serif;

}

body{
    font-family:var(--mainFont);
}

/*navbar*/
.navbar .nav-link{
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color:var(--primaryColor);
}

/*hero*/
.hero{
    background-image: url(./../img/hero/bg.jpg);
    background-size:cover;
    background-position: center ;
}
.primary{
    Color: #FF206E;
}

/*about*/
.about{
    background-image: url(./../img/about/light_dot.jpg);
}



